/*Styled the upload button label directly in the html 
because it wouldn't work here, as well as the subsequent <input> (fileToUpload) for clarity*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

html, body {
	height: 100%;
	margin:0;
	padding:0;
	background-image: url("../assets/batman.jpg");
}

h1>a {
	text-decoration: none;
	color: white;
}

h1>a:hover {
	color: #596163;
}

.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -60px;
}

.push {
  height: 220px; /*Lower the value if you want the footer higher*/
}

footer {
	width: 100%;
	height: 60px;
	/* Height of the footer */
	margin: 0;
	position: relative;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	background-color: black;
	clear: both;
	content: " ";
}

header {
	background-color: black;
	width:100%;
}

main {
	margin: 7%;
}

aside {
	float: left;
	margin: 20px;
	width: 300px;
}

input[type='text'], input[type='password'], input[type='email'], textarea {
	background-color: #999;
	color: #666;
	font-family: 'Oswald', 'Futura', sans-serif;
	font-size: 24px;
	width: 96%;
	padding: 4px 6px;
	border-radius: 8px;
	margin: 4px;
}

input[type='text']:focus, input[type='password']:focus, input[type='email']:focus, textarea:focus {
	border: 1px solid #fff;
	background-color: #fff;
	outline: none;
}

input[type='submit'] {
	background-color: #999;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 8px 10px;
	margin-top: 10px;
	float: right;
	font-size: 18px;
	text-decoration: none;
	text-transform: uppercase;
}

.text--error {
	color: red;
	z-index: 3;
	opacity : 1;
}

.text--success {
	color: green;
	z-index: 2;
	opacity : 1;
}

div.alert {
    background: rgba(255,255,255,0.82);
	z-index:2;
	width:200px;
}

#welcome
{
	background-color: black;
	margin: 10px;
	padding: 10px;
	color: #30c4db;
	border-radius: 5px;
	width: 35%;

}

.logout
{
	color: white;
}