<?php
//Turn on output buffering: Script 8.11
ob_start();
?>

<!doctype html>
<html>
    <!-- Protip  : Run index.php to test the page -->
<head>
  <meta charset="utf-8">
  <title>Superhero Registrar</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" media="screen" href="css/style.css">
  <link rel="stylesheet" type="text/css" media="screen" href="css/style2.css">
  <link rel="stylesheet" type="text/css" media="screen" href="css/media.css">
  <link href="https://fonts.googleapis.com/css?family=Nosifer|Saira+Extra+Condensed" rel="stylesheet"> <!--links fonts from google-->
  <script src="assets/modal.js" type="text/javascript"></script>
</head>
<body>
<header>
    
<?php 

$alertStart= '<div class="alert text--error">';
$alertEnd='</div>';
$confirmStart = '<div class="alert text--success ">';
$confirmEnd ='</div>';
?>


        <h1><a href="index.php">Superhero Registrar</a></h1>
<!--make an if statement that excludes this if the user is logged in-->



</header>
<main class="siteContent">
  