* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
h1 {
    font-family: 'Libre Barcode 39 Text', fantasy;
    font-size: 4em;
    margin-bottom: 30px;
    text-align: center;
    color: #fff;
}
body {
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: #cfedb1;
    margin: 2%;
    
}
p {
    margin: 2%;
}
input[type="text"] {
  padding: 10px;
  border: solid 1px #fff;
  margin-bottom: 20px;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  width: 100%;
}
input[type="text"]:focus, input[type="text"].focus {
  box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}
input[type="submit"] {
  background: none;
  display: inline-block;
  width: 100%;
  padding: 8px;
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
  outline: none;

  text-decoration: none;
  transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
}
input[type="submit"]:hover,
input[type="submit"]:active {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
}